# Ignore everything except dist/
.vite
node_modules
coverage
*.test.*
*.spec.*
*.map

vite.config.*
tsconfig.json
postcss.config.js
tailwind.config.js

src
public
*.jsx
*.tsx
*.ts
*.md
__tests__/
playground/
